*{
  margin-top: 0;
}

.app__header{
  text-align: center;
  margin-top:20px;
}

.app__headertext{
  color: 	rgb(0, 128, 255);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.app__poptext{
  color: 	red;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.app__popvalue{
  margin-top: -10px;
  color: gray;
}

.app__popheader{
  text-align: right;
}

.left_header{
  margin-left: 30px ;
  margin-right: 30px;
  display: flex;
  justify-content: space-evenly;
}

.search__text{
  margin-bottom: 12px;
  color :gray;
}

Select{
  width: 500px;
}

.app__stats{
  display: flex;
  justify-content: space-evenly;
  margin: 30px;
}



.app__update{
  background-color: 	rgb(255, 255, 153);
  color: gray;
  padding: 8px;
  margin: 30px;
}

.app__table{
  display: flex;
  justify-content: center;
}

.app__charts{
  margin: auto;
  max-width: 800px;
  display: flex;
  flex-direction: column;
}

.app__container{
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.container__left{
  text-align: center;
  padding : 20px;
}

.container__right{
  text-align: center;
  padding : 20px;
}

@media screen and (max-width: 800px) {
  .app__stats{
    height: 450px;
    flex-direction: column;
    justify-content: space-between;
  }

  .app__update{
    padding: 5px;
  }

  .left_header{
    justify-content: space-between;
  }
}

@media screen and (max-width : 500px){
  .left_header{
    flex-direction: column;
  }

  .app__popheader{
    text-align: center;
  }
}

